@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
:root {
    --red:  rgba(134, 54, 65, .6);
    --brown: rgba(60, 21, 26,.6);
    --footer: rgba(94, 38, 45.6);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    line-height: 1.5;
    
}

.container {
    width: 80%;
    margin: auto;
}

/**************
Grid
**************/
.row::after {
    display: block;
    content: "";
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}


/**************
Main
**************/
main {
    background-color: var(--red);
    padding-top: 150px;
}

/**************
Navigation
**************/
nav {
    background-color: var(--brown);
    padding: 0px 220px;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav img {
    border-radius: 50%;
    width: 40%;
    margin-top: -115px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.1rem;
}

nav .col-3:first-child ul li a {
    margin-left: 60px;
}

nav .col-3:last-child ul li a {
    margin-right: 60px;
}

/**************
One
**************/
.one {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
}

/**************
Two
**************/
.two {
    background-color: var(--brown);
    padding: 50px;
    color: var(--white);
}

.two h3 {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.two img {
    width: 100%;
    height: auto;
}

.two .col-5 {
    padding-right: 50px;
}

.two p {
    margin-bottom: 30px;
    text-align: justify;
}

/**************
Players
**************/
.players {
    margin-top: 30px;
    background-color: var(--brown);
}

.players .col-3 {
    padding: 30px;
}

.players img {
    width: 100%;
    height: auto;
}

.players h5 {
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    margin-top: 10px;
}

/**************
Latest news
**************/
.latestNews {
    padding: 40px 0;
    color: var(--white);
}

.latestNews h2 {
    text-align: center;
    font-size: 2rem;
}

.latestNews .col-4 {
    padding: 20px;
}

.latestNews h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.latestNews p {
    margin-bottom: 20px;
}

.latestNews button {
    background-color: var(--white);
    color: var(--brown);
    border: none;
    padding: 10px 30px;
    font-size: 1.1rem;
}

/**************
Footer
**************/
footer {
    color: var(--white);
    background-color: var(--footer);
    text-align: center;
    padding: 40px 0;
}

footer p {
    font-size: 1.2rem;
}

/**************
Responsive
**************/
@media(max-width:768px) {
    .container {
        width: 90%;
    }
    
    [class*="col-"] {
        width: 100%;
    }
    
    main {
        padding-top: 0px;
    }
    
    nav {
        padding: 0px;
        height: auto;
    }
    
    nav .row {
        background-color: var(--brown);
        padding: 20px 0;
    }
    
    nav ul li {
        display: block;
    }

    nav img {
        margin-top: 0px;
    }

    nav .col-3:first-child ul li a {
        margin-left: 0px;
    }

    nav .col-3:last-child ul li a {
        margin-right: 0px;
    }
    
    .one {
        margin-top: 30px;
    }
    
    .two img {
        margin-bottom: 20px;
    }
    
    
}








